.AssociateCV {
  font-family: "Montserrat", sans-serif !important;
  @media (max-width: 629.98px) {
    max-width: 95%;
    margin-top: 10%;

    &-body {
      margin: 0 2.5rem;
    }
    &-row__header {
      display: flex;
      flex-direction: row;
      margin-bottom: 1rem;
    }
    &-label__header {
      color: $color-primary;
      text-transform: uppercase;
      cursor: pointer;
      margin: 0.5rem 0.5rem;
      font-weight: 600;
      font-size: 0.9rem;
    }
    &-input {
      border: 1px solid rgb(219, 219, 219);
      background: #e8e6e6;
      font-size: 1rem;
      height: 3rem;
    }
    &-link {
      width: 1.3em;
      height: 1.3em;
      fill: black;
    }

    &-row {
      border: 1px solid rgb(219, 219, 219);
      border-top: unset;
      background-color: #fff;
      margin: auto;
      /*height: 6.5rem;*/
      padding-top: 1rem;
      vertical-align: middle;
      cursor: pointer;
      padding-bottom: 1rem;
      &:hover {
        background-color: $color-secondary;
      }
    }

    &-row-2 {
      border: 1px solid rgb(219, 219, 219);

      background-color: #fff;
      margin: auto;
     
      padding-top: 1rem;
      vertical-align: middle;
    }

    &-group {
      width: 100%;
      margin: auto;
      display: flex;
      flex-direction: column;
    }
    &-col {
      width: auto;
    }
    &-add__btn {
      width: 100%;

      margin-top: 0.5rem;
      border-radius: 2em;
      background-color: #295ebe !important;
      font-size: 1.1rem;

      font-weight: 800;
      color: #fff !important;
      margin-bottom: 1em;
    }

    &-cancel__btn {
      width: 100%;

      margin-right: 1rem;
      margin-top: 2rem;
      border-radius: 2em;
      font-size: 1.1rem;

      font-weight: 800;
      color: #fff !important;
      background-color: $color-secondary !important;
      border-color: $color-secondary !important;
    }
    &-label__name {
      cursor: pointer;
      margin: auto;
      font-weight: 600;
      font-size: 0.9rem;
    }
    &-label {
      cursor: pointer;
      margin: auto;
      font-size: 0.8rem;
      font-weight: 600;
      color: rgb(122, 122, 122);
    }
    &-col__label {
      cursor: pointer;
      margin: auto;
      font-size: 1rem;
      font-weight: 600;
      color: rgb(104, 104, 104);
    }

    &-row__label {
      border: 1px solid rgb(219, 219, 219);
      border-top: unset;
      background-color: #fff;
      text-transform: capitalize;
      margin: auto;
      height: 3rem;
      padding-top: 0.2rem;
      vertical-align: middle;
      cursor: pointer;
      &:hover {
        background-color: $color-secondary;
      }
    }
  }

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 630px) and (max-width: 767.98px) {
    max-width: 90%;
    margin-top: 10%;

    &-body {
      margin: 0 2.5rem;
    }
    &-row__header {
      display: flex;
      flex-direction: row;
      margin-bottom: 1rem;
    }
    &-label__header {
      color: $color-primary;
      text-transform: uppercase;
      cursor: pointer;
      margin: 0.5rem 0.5rem;
      font-weight: 600;
      font-size: 0.9rem;
    }
    &-input {
      border: 1px solid rgb(219, 219, 219);
      background: #e8e6e6;
      font-size: 1rem;
      height: 3rem;
    }
    &-link {
   
      width: 1.3em;
      height: 1.3em;
      fill: black;
    }

    &-row {
      border: 1px solid rgb(219, 219, 219);
      border-top: unset;
      background-color: #fff;
      margin: auto;
      /*height: 6.5rem;*/
      padding-top: 1rem;
      vertical-align: middle;
      padding-bottom: 1rem;

      cursor: pointer;
      &:hover {
        background-color: $color-secondary;
      }
    }

    &-row-2 {
      border: 1px solid rgb(219, 219, 219);

      background-color: #fff;
      margin: auto;
  
      padding-top: 1rem;
      vertical-align: middle;
    }

    &-group {
      width: 100%;
      margin: auto;
      display: flex;
      flex-direction: column;
    }
    &-col {
      width: auto;
    }
    &-add__btn {
      width: 100%;

      margin-top: 0.5rem;
      border-radius: 2em;
      background-color: #295ebe !important;
      font-size: 1.1rem;

      font-weight: 800;
      color: #fff !important;
      margin-bottom: 1em;
    }

    &-cancel__btn {
      width: 100%;

      margin-right: 1rem;
      margin-top: 2rem;
      border-radius: 2em;
      font-size: 1.1rem;

      font-weight: 800;
      color: #fff !important;
      background-color: $color-secondary !important;
      border-color: $color-secondary !important;
    }
    &-label__name {
      cursor: pointer;
      margin: auto;
      font-weight: 600;
      font-size: 0.9rem;
    }
    &-label {
      cursor: pointer;
      margin: auto;
      font-size: 0.8rem;
      font-weight: 600;
      color: rgb(122, 122, 122);
    }
    &-col__label {
      cursor: pointer;
      margin: auto;
      font-size: 1rem;
      font-weight: 600;
      color: rgb(104, 104, 104);
    }

    &-row__label {
      border: 1px solid rgb(219, 219, 219);
      border-top: unset;
      background-color: #fff;
      text-transform: capitalize;
      margin: auto;
      height: 3rem;
      padding-top: 0.2rem;
      vertical-align: middle;
      cursor: pointer;
      &:hover {
        background-color: $color-secondary;
      }
    }
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) and (max-width: 991.98px) {
    max-width: 90%;
    margin-top: 10%;

    &-body {
      margin: 0 2.5rem;
    }
    &-row__header {
      display: flex;
      flex-direction: row;
      margin-bottom: 1rem;
    }
    &-label__header {
      color: $color-primary;
      text-transform: uppercase;
      cursor: pointer;
      margin: 0.5rem 0.5rem;
      font-weight: 600;
      font-size: 1rem;
    }
    &-input {
      border: 1px solid rgb(219, 219, 219);
      background: #e8e6e6;
      font-size: 1rem;
      height: 3rem;
    }
    &-link {
 
      width: 1.3em;
      height: 1.3em;
      fill: black;
    }

    &-row {
      border: 1px solid rgb(219, 219, 219);
      border-top: unset;
      background-color: #fff;
      margin: auto;
      height: 6rem;
      padding-top: 1rem;
      vertical-align: middle;
      cursor: pointer;
      &:hover {
        background-color: $color-secondary;
      }
    }

    &-row-2 {
      border: 1px solid rgb(219, 219, 219);

      background-color: #fff;
      margin: auto;
     
      padding-top: 1rem;
      vertical-align: middle;
    }

    &-group {
      width: 100%;
      margin: auto;
      display: flex;
    }
    &-col {
      width: auto;
    }
    &-add__btn {
      width: 100%;

      margin-top: 2rem;
      border-radius: 2em;
      background-color: #295ebe !important;
      font-size: 1.1rem;

      font-weight: 600;
      color: #fff !important;
      margin-bottom: 1em;
    }

    &-cancel__btn {
      width: 100%;

      margin-right: 1rem;
      margin-top: 2rem;
      border-radius: 2em;
      font-size: 1.1rem;

      font-weight: 600;
      color: #fff !important;
      background-color: $color-secondary !important;
      border-color: $color-secondary !important;
    }
    &-label__name {
      cursor: pointer;
      margin: auto;
      font-weight: 600;
      font-size: 1rem;
    }
    &-label {
      cursor: pointer;
      margin: auto;
      font-size: 0.9rem;
      font-weight: 600;
      color: rgb(122, 122, 122);
    }
    &-col__label {
      cursor: pointer;
      margin: auto;
      font-size: 1rem;
      font-weight: 600;
      color: rgb(104, 104, 104);
    }

    &-row__label {
      border: 1px solid rgb(219, 219, 219);
      border-top: unset;
      background-color: #fff;
      text-transform: capitalize;
      margin: auto;
      height: 3rem;
      padding-top: 0.2rem;
      vertical-align: middle;
      cursor: pointer;
      &:hover {
        background-color: $color-secondary;
      }
    }
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) and (max-width: 1199.98px) {
    max-width: 80%;
    margin-top: 10%;

    &-body {
      margin: 0 2.5rem;
    }
    &-row__header {
      display: flex;
      flex-direction: row;
      margin-bottom: 1rem;
    }
    &-label__header {
      color: $color-primary;
      text-transform: uppercase;
      cursor: pointer;
      margin: 0.5rem 0.5rem;
      font-weight: 600;
      font-size: 1rem;
    }
    &-input {
      border: 1px solid rgb(219, 219, 219);
      background: #e8e6e6;
      font-size: 1rem;
      height: 3rem;
    }
    &-link {
 
      width: 1.3em;
      height: 1.3em;
      fill: black;
    }

    &-row {
      border: 1px solid rgb(219, 219, 219);
      border-top: unset;
      background-color: #fff;
      margin: auto;
      height: 6rem;
      padding-top: 1rem;
      vertical-align: middle;
      cursor: pointer;
      &:hover {
        background-color: $color-secondary;
      }
    }

    &-row-2 {
      border: 1px solid rgb(219, 219, 219);

      background-color: #fff;
      margin: auto;
  
      padding-top: 1rem;
      vertical-align: middle;
    }

    &-group {
      width: 50%;
      margin: auto;
      display: flex;
    }
    &-col {
      width: auto;
    }
    &-add__btn {
      width: 100%;

      margin-top: 2rem;
      border-radius: 2em;
      background-color: #295ebe !important;
      font-size: 1.1rem;

      font-weight: 800;
      color: #fff !important;
      margin-bottom: 1em;
    }

    &-cancel__btn {
      width: 100%;

      margin-right: 1rem;
      margin-top: 2rem;
      border-radius: 2em;
      font-size: 1.1rem;

      font-weight: 800;
      color: #fff !important;
      background-color: $color-secondary !important;
      border-color: $color-secondary !important;
    }
    &-label__name {
      cursor: pointer;
      margin: auto;
      font-weight: 600;
      font-size: 1rem;
    }
    &-label {
      cursor: pointer;
      margin: auto;
      font-size: 0.9rem;
      font-weight: 600;
      color: rgb(122, 122, 122);
    }
    &-col__label {
      cursor: pointer;
      margin: auto;
      font-size: 1rem;
      font-weight: 600;
      color: rgb(104, 104, 104);
    }

    &-row__label {
      border: 1px solid rgb(219, 219, 219);
      border-top: unset;
      background-color: #fff;
      text-transform: capitalize;
      margin: auto;
      height: 3rem;
      padding-top: 0.2rem;
      vertical-align: middle;
      cursor: pointer;
      &:hover {
        background-color: $color-secondary;
      }
    }
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    max-width: 80%;
    margin-top: 10%;

    &-body {
      margin: 0 2.5rem;
    }
    &-row__header {
      display: flex;
      flex-direction: row;
      margin-bottom: 1rem;
    }
    &-label__header {
      color: $color-primary;
      text-transform: uppercase;
      cursor: pointer;
      margin: 0.5rem 0.5rem;
      font-weight: 600;
      font-size: 1rem;
    }
    &-input {
      border: 1px solid rgb(219, 219, 219);
      background: #e8e6e6;
      font-size: 1rem;
      height: 3rem;
    }
    &-link {
      
      width: 1.3em;
      height: 1.3em;
      fill: black;
    }

    &-row {
      border: 1px solid rgb(219, 219, 219);
      border-top: unset;
      background-color: #fff;
      margin: auto;
      height: 6rem;
      padding-top: 1rem;
      vertical-align: middle;
      cursor: pointer;
      &:hover {
        background-color: $color-secondary;
      }
    }

    &-row-2 {
      border: 1px solid rgb(219, 219, 219);
      background-color: #fff;
      margin: auto;
 
      padding-top: 1rem;
      vertical-align: middle;
    }

    &-group {
      width: 50%;
      margin: auto;
      display: flex;
    }
    &-col {
      width: auto;
    }
    &-add__btn {
      width: 100%;

      margin-top: 2rem;
      border-radius: 2em;
      background-color: #295ebe !important;
      font-size: 1.1rem;

      font-weight: 600;
      color: #fff !important;
      margin-bottom: 1em;
    }

    &-cancel__btn {
      width: 100%;

      margin-right: 1rem;
      margin-top: 2rem;
      border-radius: 2em;
      font-size: 1.1rem;

      font-weight: 600;
      color: #fff !important;
      background-color: $color-secondary !important;
      border-color: $color-secondary !important;
    }
    &-label__name {
      cursor: pointer;
      margin: auto;
      font-weight: 600;
      font-size: 1rem;
    }
    &-label {
      cursor: pointer;
      margin: auto;
      font-size: 0.9rem;
      font-weight: 600;
      color: rgb(122, 122, 122);
    }
    &-col__label {
      cursor: pointer;
      margin: auto;
      font-size: 1rem;
      font-weight: 600;
      color: rgb(104, 104, 104);
    }

    &-row__label {
      border: 1px solid rgb(219, 219, 219);
      border-top: unset;
      background-color: #fff;
      text-transform: capitalize;
      margin: auto;
      height: 3rem;
      padding-top: 0.2rem;
      vertical-align: middle;
      cursor: pointer;
      &:hover {
        background-color: $color-secondary;
      }
    }
  }
}
.AssociateCV .modal-content {
  background-color: #fafafafa;
}
.AssociateCV-row:hover .AssociateCV-label {
  color: #FFF;
}